.feedback-form {
  margin: 40px;

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__helper {
    position: absolute;
    top: -50px;
    left: 20px;
    box-shadow: 0 0 1px 0 gray;
    padding: 3px;
  }

  &__input {
    padding: 10px;
    font-size: inherit;
    color: rgb(42, 46, 50);
    font-family: inherit;
    transition-property: border-color;
    transition-duration: .3s;
    border: 1px solid;
    border-radius: 3px;

    &--error {
      border-color: red;
    }
  }

  &__button {
    margin-top: 20px;
  }
}