.modal {
  display: none;

  &__open {
    margin-top: 10px;
    margin-right: 40px;
  }

  &--shown {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(81, 79, 79, 0.7);
    overflow: scroll;
  }

  &__content {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    margin-left: -40%;
    padding: 10px 40px;
    background-color: $background-color;
    border-radius: 5px;
    overflow: hidden;
  }
}