@import 'fonts';
@import 'variables';
@import './blocks/border-box';

html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  max-width: $page-width;
}
@import './blocks/visually-hidden';
@import './blocks/feedback-form';
